<div id="<%= dom_id vote %>">
  <p>
    <strong>User:</strong>
    <%= vote.user_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= vote.category %>
  </p>

  <p>
    <strong>Identifier:</strong>
    <%= vote.identifier %>
  </p>

  <p>
    <strong>Payload:</strong>
    <%= vote.payload %>
  </p>

</div>
